[submodule "drone_racer"]
	path = drone_racer
	url = https://github.com/WarriorHanamy/drone_racer.git
[submodule "vtol-interface"]
	path = vtol-interface
	url = https://github.com/WarriorHanamy/vtol-interface.git
